@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
* {
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    margin-top: 20px;
}

header h1 {
    font-size: 32px;
    color: #2C8C73;
}

header p {
    font-size: 16px;
    color: #777;
}

nav {
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

nav a:hover {
    cursor: pointer;
    color: #268B8A;
}

#about-section {
    background-color: #77B895;
    width: 100%;
    text-align: center;
    height: 450px;
}

#about-section h2 {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: bold;
    margin-top: 10px;
}

#about-section p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.social-icons a {
    margin-right: 10px;
    color: grey;
}

.social-icons a:last-child {
    margin-right: 0;
}

i span {
    margin-left: 4px;
    font-weight: normal;
}

.dark-green-line {
    border: none;
    height: 10px;
    background-color: #93f093;
    width: 100%;
    align-self: flex-start;
}

.circle {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: #93f093;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-text {
    font-weight: bold;
}

#form-container {
    background-color: #fff;
    width: 30%;
    margin: auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.form-outercontainer {

}

h2 {
    text-align: center;
    color: #2C8C73;
}

p {
    text-align: center;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"]{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    /* border-radius: 5px; */
    border: none;
    outline: none;
}
input[type="text"],
input[type="email"],
input[type="tel"]{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 2px;
    border-bottom: 2px solid black;
}

input:focus,
input:valid{
    outline: 2px solid black;
}

#feedback {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

input[type="date"]{
    width: 35%;
    padding: 1px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    display: inline-block;
    border: none;
    outline: none;
}


input[type="checkbox"] {
    margin-right: 10px;
    align-content: end;
    border: none;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2C8C73;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1a604c;
}

.radio-group, .checkbox-group {
    display: flex;
    justify-content: space-between;
}